.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
.navbar-default {
    background-color:#ffd61a;
  }

  .navbar-brand {
    font-size: 30px;
    color: oldlace;
    text-decoration: none;
  }
  
  .navbar-header{
    display: inline;
    text-align: right;
  }

  .title{
    font-size: 30px;
    color: oldlace;
    text-decoration: none;
    display: inline;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
  }
